* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #eeeeee;
}

.container {
  border: 10px solid #ffd369;
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #393e46;
  font-size: 2rem;
  border-radius: 62% 38% 66% 34% / 47% 57% 43% 53%;
  background: #eeeeee;
  box-shadow: 0 0 5px #ffd369 0 0 10px #ffd369 0 0 15px #ffd369;
    animation: borderAnimation 8s infinite linear;
}

@keyframes borderAnimation {
  0% {
    border-radius: 62% 38% 66% 34% / 47% 57% 43% 53%;
  }
  50% {
    border-radius: 47% 57% 43% 53% / 62% 38% 66% 34%;
  }
}

.time {
  font-size: 4rem;
  color: #222831;
}

.blink-colon {
  animation: blink 1s infinite linear;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.date-container {
  margin-top: 6px;
}
