* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  background: #eeeeee;
  color: #222831;
}

.container {
  max-width: 25rem;
  width: 100%;
  position: relative;
  padding: 1.25rem;
  background: #ffffff;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.pic {
  position: absolute;
  top: 0;
  left: 50%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  transform: translate(-50%, -50%);
  color: #eeeeee;
  font-size: 2.5rem;
  background: linear-gradient(
    90deg,
    rgb(255, 155, 0) 0%,
    rgba(255, 196, 0, 0.808) 50%,
    rgba(255, 211, 105, 1) 100%
  );
  background-size: 400% 400%;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.3);
  animation: AnimationName 5s linear infinite;
}

h1 {
  text-align: center;
  margin: 2.25rem;
  font-size: 2.5rem;
}

label {
  margin-top: 1.25rem;
  font-size: 1.1rem;
}

input {
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: #eeeeee;
}

.links,
button {
  margin-top: 1.25rem;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

a {
  color: rgba(255, 155, 0);
  text-decoration: none;
}

button {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  letter-spacing: 0.063rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #eeeeee;
  background: linear-gradient(
    90deg,
    #ff9b00,
    rgba(255, 196, 0, 0.808),
    #ffd369
  );
  cursor: pointer;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a:hover {
  color: rgba(255, 155, 0, 0.5);
}

button:hover {
  animation: AnimationName 3s linear infinite;
  background-size: 200% 200%;
}
